<!--
    Dos formas de enviar datos:
    GET: Viajan por url
    POST: Viajan por las cabeceras http
-->
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset='utf-8' />
        <title>
            {% block title %}

            {% endblock %}
            | DServo labs
        </title>
        {% load static %}    
        <link rel='stylesheet' type='text/css' href="{% static 'css/styles.css' %}" /> 
    </head>
    <body>
        <!--Cabecera de la página-->
        <header>
            <div id="logotipo">
                <!--Logo Django-->
                <img src="{% static 'images/logo.png' %}" />
                <h1>Proyecto <strong>Django</strong></h1>
            </div>
        </header>


        <nav>
            <ul>
                <li>
                    <!--<a href = '/'>Inicio</a>-->
                    <a href="{% url 'index' %}"><strong>Inicio</strong></a>
                </li>
                <li>
                    <a href="{% url 'list_articles' %}">Categorías</a>
                    <ul>
                        {% for category in categories %}
                        <li>
                            <a href="{% url 'category' category.0 %}">{{ category.1 }}</a> 
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                {% for page in pages %}
                <li>
                    {% comment "" %}position: 0 id, 1 name, 2 slug {% endcomment %}
                    <a href="{% url 'page' page.2 %}">{{ page.1 }}</a> 
                </li>
                {% endfor %}
            </ul>
        </nav>



        <div class="barra">
            <span class="esquina-izquierda"></span>
            <span class="relleno-barra"></span>
            <span class="esquina-derecha"></span>
        </div>

        <div id="content">
            <div class="box">
                {% block content %}
                    <!--Código que viene de templates-->
                    <strong>Contenido del bloque original!!></strong>
                {% endblock %}
            </div>
        </div>

        <footer>
            Master en python &copy; DServo-Labs WEB - {% now "d/m/Y" %}
        </footer>

    </body>
</html>