<!DOCTYPE HTML>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <title>{% block title %} Master en Python {% endblock %} | Aprendiendo Flask con Victor Robles</title>
    </head>
    <body>
        <h1>Aprendiendo Flask con Victor Robles</h1>
        <hr />
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="{{ url_for('informacion') }}">Información</a></li>
                <li><a href="{{ url_for('contacto') }}">Contacto</a></li>
                <li><a href="{{ url_for('lenguajes') }}">Lenguajes de programación</a></li>
            </ul>
        <hr />
        <section id="content">
            {% block content %}

            {% endblock %}
        </section>
    </body>
    <hr />
    <footer>
        Master en Python con Victor Robles
    </footer>
</html>