<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset='utf-8' />
        <title>
            {% block title %}
            {% endblock %}
            | DServo labs
        </title>
    </head>
    <body>
        <h1>Sitio web con Django | Victor Robles</h1>
        <hr/>
        <ul>
            <li><a href="/inicio">Inicio</a></li>
            <li><a href="/hola-mundo">Hola Mundo</a></li>
            <li><a href="/pagina-pruebas">Página de pruebas</a></li>
            <li><a href="/contacto">Contacto</a></li>
        </ul>
        <hr/>
        <div id="content">
            {% block content %}
              <!--Código que viene de templates-->
            {% endblock %}
        </div>
        <hr/>
        <footer>
            Master en python &copy; DServo-Labs WEB
        </footer>
    </body>
</html>